.filterTaskContainer {
  display: flex;
  background-color: white;
  align-items: center;
  height: 70px;
}
.itemCounts {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #eee;
}
.itemCounts span {
  font-size: 14px;
}
.filterTaskButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.filterTaskButton button {
  border: none;
  margin: 0 10px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
  transition: 200ms;
  background-color: rgb(110, 110, 110);
  color: #fff;
}
.filterTaskButton button:hover {
  background-color: #282c34;
}
.allButton,
.activeButton,
.completeButton {
  background-color: #065813 !important;
}
